#root {
    max-width: 1240px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.img-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.img-item img {
    width: 80%;
    cursor: pointer;
}

.open-img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box {
    position: relative;
    background-color: #f1f3f5;
    padding: 14rem;
    border-radius: 8px;
    max-width: 100%;
    max-height: 80%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20%;
    font-size: 16px;
}
